div
  a(class="md-button md-primary" href="/testroutes")
  h2 Gadget Report
  img(ng-hide="gameMode" src="/images/goGoGadget.png" alt="Go Go Gadget picture")
  img(ng-show="gameMode" src="{{imgurl}}" alt="{{imgurl}}")
  .scores
    md-content
      p Left Hand - Score {{leftHand.state}}
      md-progress-linear(md-mode="determinate" value="{{leftHand.state}}")
    md-content
      p Right Hand - Score: {{rightHand.state}}
      md-progress-linear(md-mode="determinate" value="{{rightHand.state}}")
    md-content
      p Left Foot - Score: {{leftFoot.state}}
      md-progress-linear(md-mode="determinate" value="{{leftFoot.state}}")
    md-content
      p Right Foot - Score: {{rightFoot.state}}
      md-progress-linear(md-mode="determinate" value="{{rightFoot.state}}")
    md-content
      p Ear - Score: {{ear.state}}
      md-progress-linear(md-mode="determinate" value="{{ear.state}}")
    md-content
      p Heart - Score: {{nose.state}}
      md-progress-linear(md-mode="determinate" value="{{nose.state}}")
    md-button(class="md-button md-raised md-accent button" href="/") Home
    md-button(class="md-button md-raised md-accent button" ng-click="onClickReset()") Reset Score
