<html lang="en" ng-app="goGoGadget">

<head>
    <meta charset="utf-8">

    <title>Welcome!</title>
    <meta name="description" content="Landing Page for GoGoGadget">


    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
    <div ng-app="myApp">

        <div class="container">

            <h1 class="greeting">Welcome!</h1>
            <div class="imageContainer">
                <img src="/images/goGoGadget.png" alt="Go Go Gadget picture">
            </div>

    <h1 class="greeting">Welcome!</h1>
    <div class="imageContainer">
        <img src="/images/goGoGadget.png" alt="Go Go Gadget picture">
    </div>

    <md-content layout="column">
      <md-input-container>
        <label>Mode</label>
        <md-select ng-model="mode" class='button' ng-change="updateMode()" >
          <md-option value="off">
            Off
          </md-option>
          <md-option value="game">
            Game
          </md-option>
          <md-option value="auto">
            Automation
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container ng-show="mode == 'game'">
        <label>Language</label>
        <md-select ng-model="lang" class='button' ng-change="updateLang()" >
          <md-option value="en">
            English
          </md-option>
          <md-option value="ch">
            Chinese
          </md-option>
          <md-option value="kl">
            Klingon
          </md-option>
        </md-select>
      </md-input-container>
        <md-button class="md-button md-raised md-primary button" ng-click="onClickPlay()">Game Score</md-button>
        <md-button class="md-button md-raised md-accent button" ng-click="onClickAuto()">Personal Assistant</md-button>
    </md-content>

</div>

        <script type="text/javascript" src="/vendors/angular/angular.js"></script>
        <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/javascripts/app.min.js"></script>
    </body>
</html>
